html{
    position: relative;
    min-height: 100%;
}

body{
    background: #dddddd;
    margin-bottom: 100px;
}

.navHeader{
    color: white;
    background-color: #4aaaa5;
    padding: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.centerSection{
    background: white;
    margin-top: 30px;
}

.bodyHeader{
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.aboutText{
    line-height: 2;
    color: #777777;
}

#profilePic{
    height: 200px;
    width: 300px;
}

.images{
    height: 200px;
    background-image: url("images/placeholder_bar.jpg"); 
}

.filler{
    padding-top: 138px;
}

.overlayText{
    background-color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#submitButton{
    background: #4aaaa5;
    border-color: #4aaaa5;
}

.background{
    background-image: url("images/placeholder_bar.jpg");
}

.footer {
    background-color: gray;
    color: #dddddd;
    border-top: 8px solid #4aaaa5;
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

 .footerText{
    font-size: 9px;
    margin: auto;
    margin-bottom: 5px;
    margin-top:20px;
 }

 .navPress:hover{
     color: #4aaaa5;
 }